# Ignorar carpetas y archivos creados en compilación
backup/
lib/
*.exe
*.lps
*.res
*.ico

# Ignorar archivos de datos creados por el programa
*.dat

# Ignorar archivos creados durante el desarrollo de las imágenes
*.xcf